<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand text-light fw-bold">Cart</span>
      </div>
    </nav>


    <div class="container border rounded d-flex flex-column pb-3 mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% for item_id in session[:cart] %>
          <% item = MenuItem.find(item_id) %>
          <tr class="align-middle">
            <td><%= item.restaurant.name %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= button_to "Remove", remove_cart_path(item.id), method: :delete, class: "btn btn-outline-danger d-flex ms-auto" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <button class="btn btn-primary ms-auto">Checkout</button>
    </div>
  </body>
</html>
