<!DOCTYPE html>
<html lang="en">
  <head>    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <%= link_to "Back to Main", root_path, class: "navbar-brand text-light fw-bold" %>
      </div>
    </nav>

    <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: calc(85vh - 56px);">
      <h1 class="display-1">Order Complete!</h1>
      <p>Thanks for ordering with us.</p>
    </div>

  </body>
</html>
 