<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Restaurants</h1>
    <% for restaurant in @restaurants%>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= restaurant.name %></h5>
                <p class="card-text">
                    <%= "#{restaurant.opening_time.to_fs(:time)} - #{restaurant.closing_time.to_fs(:time)},
                        #{restaurant.cuisine},
                        #{restaurant.address.to_s}" %>
                    </p>
            </div>
        </div>
    <% end %>
</body>
</html>
