<!DOCTYPE html>
<html lang="en">
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand text-light fw-bold">Restaurants</span>
      </div>
    </nav>

    <div class="container-fluid mt-3">
      <div class="row d-flex">
        <div class="col-4">

            <div class="card">
                <div class="card-header">
                    <h5>Filter</h5>
                </div>
                <div class="card-body">
                    <%= render "filters" %>
                </div>
            </div>

        </div>

        <div class="col-8">
            <% for restaurant in @restaurants %>

                <%= link_to restaurant, class: "text-decoration-none" do %>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title"><%= restaurant.name %></h5>
                            <p class="card-text">
                                <%= "#{restaurant.opening_time.to_fs(:time)} - #{restaurant.closing_time.to_fs(:time)},
                                    #{restaurant.cuisine.capitalize},
                                    #{restaurant.address.to_s}" %>
                            </p>
                        </div>
                    </div>
                <% end %>

            <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
